@import "../../styles/constants.scss";

.wrapper {
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
  }

  .upperElement {
    @media (max-width: $sm) {
      justify-content: center;
      text-align: center;
      gap: 2rem;
      justify-content: center;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cv {
    width: 50px;
    height: 50px;
    border: 1px solid red;
  }
  .lowerElement {
    margin-top: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .experience {
      display: flex;
      align-items: center;
      gap: 1rem;
      > :nth-child(1) {
        color: #ff0000;
      }
      > :nth-child(2) {
        line-height: 25px;
      }
    }
    .certificate {
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 1rem;
        width: 3.5rem;
      }
    }
    @media (max-width: $sm) {
      display: none;
    }
  }
  .person {
    @media (max-width: $sm), (max-width: $md) {
      position: relative;
      left: 0;
      background-size: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: bottom;
    }
    @media (max-width: $sm) {
      display: none;
    }
    position: absolute;
    bottom: -2rem;
    margin: auto;
    // background-image: url('../splash.png');
    background-repeat: no-repeat;
    background-size: 23rem;
    left: 33%;

    img {
      @media (max-width: $sm) {
        width: 23rem;
      }
      margin-bottom: 50px;
      height: 434px;
      width: 434px;
    }
  }
  .github {
    img {
      margin-bottom: 1rem;
      width: 3.5rem;
    }
    @media (max-width: $sm) {
      img {
        margin-bottom: 1rem;
        width: 2.5rem;
      }
    }
    position: absolute;
    top: 50%;
    left: 0%;
  }
}
