$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #0d2f3f;
// $primary:#ff0000;
// $secondary: #286F6C;
$secondary: #ff0000;
$secondary-white: #e7e7e7;
.orange {
  color: #ff0000;
}
